.wrapper {
  padding-block: 3em;
  padding-inline: 6em;
  ol,
  ul {
    padding-left: 30px;

    li {
      margin-block: 0.4em;
    }

    li::marker {
      font-weight: 500;
    }
  }

  ul {
    list-style-type: disc;
  }

  section {
    margin-bottom: 2em;

    .title {
      margin-bottom: 1em;
    }
    .content {
      p {
        margin-bottom: 1em;
      }
    }
  }
}
